@import url(https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap);

body {
  font-family: "Radley",serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Radley",serif;
}

.page-title {
    min-height: 200px;
}

.mega-dropdown .widget.widget-custom-menu ul > li > a {
    font-size: 18px;
}

/* Top Menu */
.mr-1, .mx-1 {
    margin-right: -2rem !important;
}

.text-sm {
    font-size: 18px !important;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

.post-author .post-author-name {
    font-size: 18px;
}

.tag-link {
    font-size: 15px;
}

.navbar-nav .nav-item.active .nav-link {
    color: lightblue;
}

/* line between categories and tags buttons */
.bg-gradient, .block-title::after, .animated-digits::after, .step .step-title::after, .btn-gradient, .btn-style-2.btn-gradient::after, .btn-style-2.btn-gradient:hover::before, .btn-style-6.btn-gradient::before, .accordion-style-3 .card-body::after, .accordion-style-3 [data-toggle="collapse"], .widget-title::after, .tag-link::before, .noUi-connect, .mobile-menu .dropdown-header::after, .blog-card .post-title::after {
    background: lightblue !important;
}

