<!-- Footer-->
<footer class="pt-5" style="background-color: #30363d;">
    <!-- Subscription-->
    <div class="container">
        <h6 class="text-white text-center">Subscribe to Newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="input-group">
                    <input class="form-control form-control-light-skin" id="emailId" type="email" placeholder="Email address">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" onclick="return subscriber()">Sign Up</button>
                    </div>
                </div><small class="form-text text-white opacity-50 pt-1 text-center">Enter email to receive a newsletter.</small>
            </div>
        </div>
        <!-- Follow Me-->
        <!--
        <h6 class="text-white text-center">Follow Me</h6>
        <div class="text-center pt-2 pb-4 mb-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a></div>
        -->
        <hr class="hr-light">
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <div class="order-2" ><a class="footer-link text-white" style="font-size: 15px" href="#">About</a><a class="footer-link text-white ml-3" style="font-size: 15px" href="#">Help &amp; Info</a><a class="footer-link text-white ml-3" style="font-size: 15px" href="#">Privacy Policy</a></div>
            <p class="m-0 text-sm text-white order-1"><span class='opacity-60' style="font-size: 15px">© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i></p>
        </div>
    </div>
</footer>

<!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>
<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
<script src="{{site.baseurl}}/assets/js/vendor.min.js"></script>
<script src="{{site.baseurl}}/assets/js/theme.min.js"></script>