<!-- Vendor Styles including: Font Icons, Plugins, etc.  -->
<link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/vendor.min.css">

<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/theme.min.css">

<!-- Override the theme style-->
<link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/main.css">

<!-- Modernizr-->
<script src="{{site.baseurl}}/assets/js/modernizr.min.js"></script>

<!-- highlight-->
<link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/syntax.css">


